
body {
    display:flex;
    flex-direction: column;
    background-color: white;
    font-family: "Caveat", cursive;
    color:rgba(6, 6, 6, 0.862);
    text-align: center;
    }
    
    .heading{
        text-align: center;
    }
    .logo{
        max-width: 90%;
    }
    .container {
        background-color:#8955b4;
        padding:20px;
    }

    .tracking-elements {
        display: flex;
        gap: 15px;
    }
    
    .trivia-game {
        display: flex; 
        justify-content:space-evenly;
        align-items:center;
    }

    #displayed-question {
        color:black;
        padding: 20px 20px;
        border: solid 5px white;
        margin: 0px 10%;
        border-radius:10px;
        background-color: orange;
    }

    #hint {
        color:#59491d;
        border: solid 5px #c48b22;
        background-color:#fff;
        cursor:pointer;
    }
    /* #next {
        color:#59491d;
        border: solid 5px #c48b22;
        background-color:#fff;
        cursor:pointer;
        display: block;
    } */
    
    button {
        font-size: 2rem;
        padding:10px 10px;
        background-color:white;
        border:solid 3px;
        border-radius:30px;
        margin: 0px 20%;
        border-color:orange;
        transition: all 0.5s;
        cursor: pointer;
    }
    

    /*.btn:active,
    .btn:hover:not([disabled]) {
        background-color:#ffa500b3;
        color: white;
    }
      /*.btn:disabled {
        cursor: no-drop; 
    }
    */
 
    .btn:active,
    .btn:hover {
        background-color:#ffa500b3;
        color: white;
    }

    .hint-btn:active,
    .hint-btn:hover {
        color: #3f3a31;
        border-color: #fff;
        background-color:#ffa500
    }

    .correct,
    .answerBtn:hover,
    .btn:hover.correct {
        background-color: rgb(36, 237, 170);
    }

    .incorrect,
    .answerBtn:hover,
    .btn:hover.incorrect {
        background-color: rgb(248, 83, 83);
    }        
