/*google style import */

/*REMOVE ONE GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Open+Sans:wght@300..800&display=swap');

/*  wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General styles */
body {
    display:flex;
    flex-direction: column;
    background-color: white;
    font-family: "Caveat", cursive;
    color:rgba(6, 6, 6, 0.862);
    text-align: center;
    }

    /* Header*/
  
    .logo{
        max-width: 100%;
        max-height: 10em;
        padding: 5px 10px;
     
    }
    
    .heading { 
        min-height: 2.5em;
    }
    /*trivia main-quiz page*/
    #container {
        display:flex; 
        flex-direction: column;
        background-color:#8955b4;
        padding:20px;
    }

/*intro-page*/
    #welcome-page {
        background-color:#8955b4;
        padding:20px 0;
    }

    h1, h2, h3 {
        color:white;
        text-align: center; 
    }

    p {
        font-size: 1.5rem;
    }

    .center-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #intro-text {
        background-color: white;
        padding: 15px;
        box-shadow: 0 0 0 10px orange; 
        margin-bottom:20px;
        margin-top:25px;
    }
    
    #user-name {
        padding: 15px;
        margin: 20px;
        font-size: 14px;
        border: 3px solid #fff;
        border-radius: 5px ;
        background-color:orange;
        text-transform: capitalize;
    }

    #start-button {
        cursor: pointer;
    }
/* trivia main-quiz page
    #container {
        display:flex; 
        flex-direction: column;
        background-color:#8955b4;
        padding:20px;
    } */

    .tracking-elements {
        font-family: Montserrat;
        display: flex;
        gap: 15px;
    }
    
    .trivia-game {
        display: flex; 
        justify-content:space-evenly;
        align-items:center;
    }

    #displayed-question {
        display:flex;
        color:black;
        padding: 20px 20px;
        border: solid 5px white;
        margin: 0px 10%;
        border-radius:10px;
        background-color: orange;
    }
    
    button {
        font-size: 1.5rem;
        padding:10px 10px;
        background-color:white;
        border:solid 3px;
        border-radius:30px;
        margin: 0px 20%;
        border-color:orange;
        transition: all 0.5s;
        cursor: pointer;
    }
    
    .answer-btn:active,
    .answer-btn:hover:not([disabled]) {
        /* background-color:#ffa500b3;
        color: white; */
        color:#59491d;
        border: solid 5px #c48b22;
        background-color:#fff;
    }

    .answer-btn:disabled {
        cursor: no-drop red;
    }

    #hint:active,
    #hint:hover {
        color: #3f3a31;
        border-color: #fff;
        background-color:#ffa500
    }    
    
    .correct
   {
        background-color: rgb(36, 237, 170);
    }

    .incorrect {
        background-color: rgb(248, 83, 83);
    }  

    #hint {
        background-color:#ffa500b3;
        color: white;
        color:#59491d;
        border: solid 5px #c48b22;
        background-color:#fff; 
    }

    #reset {
        color:#59491d;
        border: solid 5px #c48b22;
        background-color:#fff;
        cursor:pointer;
        display: block;
    } 

   
    
